:root {
  --main-color: #794174;
  --secondary-color: #b368ab;
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
body {
  background: #f8f4f4;
  font-family: "Montserrat", sans-serif;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  width: 90px;
  height: 98px;
  margin-top: 8px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1,
h2 {
  color: #5f3159;
}
h3 {
  opacity: 0.5;
  color: #5f3159;
  font-size: 24px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 18px;
}
.contact-me a,
.about-me a,
.resume a {
  border: solid 2px #4e2849;
  border-radius: 10px;
  padding: 8px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  margin: 20px;
  padding: 10px;
}

.contact-button,
.about-button,
.resume-button {
  text-decoration: none;
  color: #ffff;
}
.contact-button:hover,
.about-button:hover,
.resume-button:hover {
  color: #4e2849;
  transition: all 200ms linear/ease-in-out;
}

.education,
.courses,
.work,
.characteristics,
.hobbies {
  border-radius: 4px;
  border: solid var(--main-color);
  margin: 20px;
  padding: 20px;
  line-height: 1, 5;
  flex: 1;
  color: var(--main-color);
}

.cards {
  display: flex;
  flex: 1;
}
h4 {
  text-align: center;
}
.name-school,
.course-name,
.company {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.degree,
.content,
.job-description {
  font-size: 16px;
}
.years {
  font-size: 12px;
}
.city {
  margin-top: 8px;
}
.project,
.certificate {
  margin: 10px;
  border: solid 1px;
  border-radius: 30px;

  padding: 5px;
  box-shadow: var(--box-shadow);
}
a {
  text-decoration: none;
}
.project {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}
.project a {
  color: white;
}
.project:hover {
  border-color: #5f3159;
}
.project a:hover {
  color: #5f3159;
}
.certificate {
  background-color: white;
  border-color: var(--secondary-color);
}
.certificate a {
  color: var(--secondary-color);
}
.certificate a:hover {
  border-color: #5f3159;
  color: #5f3159;
}
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}
.contact {
  color: var(--secondary-color);
  font-size: 30px;
}
.email a,
.phone,
.linkedin a {
  color: var(--main-color);
}
.linkedin a:hover {
  color: #5f3159;
}
.hobby {
  line-height: 40px;
  list-style: none;
}
.arrow {
  font-size: 30px;

  color: #0000;
}
.to-top {
  display: flex;
  justify-content: end;
}
